#button {
    text-align: center;
    margin: 100px;
  }
  
#button a {
  background-color: #1984c3;
  color: #fff;
  font-size: 30px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  border-bottom: 5px solid #0f5177;
  transition: 0.1s;
  box-shadow: 0 0 3px #ccc;
}

#button a:hover {
  background-color: #1e9feb;
  border-bottom: 0;
}